<div class="authen-form-container grid-full">
	<div class="grid">
		<div class="row">
			<div class="authen-form">
				<h3 class="authen-form__title">Thành viên đăng nhập</h3>	
				<p class="authen-form__description">F8 là cộng đồng học lập trình thực tế miễn phí. Đăng nhập để cùng nhau học tập, đóng góp và chia sẻ kiến thức ❤️</p>
				<div class="authen-form__social-wrapper">
					<a href="" class="authen-form__social">
						<img src="../img/search.png" alt="google logo" class="social-logo">
						<span class="social-text">Đăng nhập với Google</span>
					</a>
					<a href="" class="authen-form__social">
						<img src="../img/facebook.png" alt="google logo" class="social-logo">
						<span class="social-text">Đăng nhập với Facebook</span>
					</a>
				</div>
				<p class="authen-form__trick">Mẹo: Đăng nhập nhanh hơn với Google hoặc Facebook!</p>
				<div class="authen-form__separator">
					<span class="separator__text">HOẶC</span>
				</div>
				<form action="" class="authen-form__form">
					<div class="form-wrapper form-email">
						<label class="authen-form__form-label" for="email-input">Email</label>
						<input id="email-input" type="email" class="authen-form__form-input" placeholder="VD: nguyenvana@f8.edu.vn">
					</div>
					<div class="form-wrapper form-password">
						<label id="password-input" class="authen-form__form-label" for="password-input">Mật khẩu</label>
						<input type="password" class="authen-form__form-input" placeholder="Nhập mật khẩu">
						<span class="password-icon">
							<i class="fas fa-eye-slash"></i>
							{{!-- <i class="fas fa-eye"></i> --}}
						</span>
					</div>
					<button class="form-submit-btn">Đăng nhập</button>
				</form>
				<div class="authen-form__forgot-password">
					<a href="" class="authen-form__forgot-password--link">Quên mật khẩu?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="direct-authen">
	<p class="direct-message">Bạn chưa có tài khoản?</p><br><br>
	<a href="/authen/signup" class="direct-link">Đăng ký miễn phí ngay!</a>
</div>