
<div class="authen-form-container grid-full">
	<div class="grid">
		<div class="row">
			<div class="authen-form">
				<h3 class="authen-form__title">Đăng ký thành viên</h3>	
				<p class="authen-form__description">F8 là cộng đồng học lập trình thực tế miễn phí. Đăng nhập để cùng nhau học tập, đóng góp và chia sẻ kiến thức ❤️</p>
				<div class="authen-form__social-wrapper">
					<a href="" class="authen-form__social">
						<img src="../img/search.png" alt="google logo" class="social-logo">
						<span class="social-text">Đăng ký với Google</span>
					</a>
					<a href="" class="authen-form__social">
						<img src="../img/facebook.png" alt="google logo" class="social-logo">
						<span class="social-text">Đăng ký với Facebook</span>
					</a>
				</div>
				<p class="authen-form__trick">Mẹo: Đăng ký nhanh hơn với Google hoặc Facebook!</p>
				<div class="authen-form__separator">
					<span class="separator__text separator__text-link">hoặc đăng ký với email</span>
				</div>
				<form method="POST" action="/authen/signup" class="authen-form__form">
					<div class="form-wrapper form-email">
						<label class="authen-form__form-label" for="name-input">Họ và tên</label>
						<input name="name" id="name-input" type="text" class="authen-form__form-input" placeholder="VD: Nguyễn Văn A">
					</div>
					<div class="form-wrapper form-email">
						<label class="authen-form__form-label" for="email-input">Email</label>
						<input name="email" id="email-input" type="email" class="authen-form__form-input" placeholder="VD: nguyenvana@f8.edu.vn">
					</div>
					<div class="form-wrapper form-password">
						<label id="password-input" class="authen-form__form-label" for="password-input">Mật khẩu</label>
						<input name="password" type="password" class="authen-form__form-input" placeholder="Nhập mật khẩu">
						<span class="password-icon">
							<i class="fas fa-eye-slash"></i>
							{{!-- <i class="fas fa-eye"></i> --}}
						</span>
					</div>
					<div class="authen-form__notification">
						<input type="checkbox" id="notification-input" name="notification">
						<label class="notification-label" for="notification-input">Nhận thông báo về các tin tức & sự kiện mới nhất của chúng tôi. (Có thể hủy đăng ký bất cứ lúc nào.)</label>
						<span class="checkmark"></span>
					</div>
					<button class="form-submit-btn">Đăng ký</button>
				</form>
				<div class="authen-form__policy">
					<p class="authen-form__policy-text">Bằng cách đăng ký, bạn đồng ý với các <a href="" class="policy-text--link">điều khoản sử dụng</a> của chúng tôi</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="direct-authen">
	<span class="direct-message">Bạn chưa có tài khoản?</span>
	<a href="/authen/signup" class="direct-link">Đăng nhập</a>
</div>