<footer class="grid-full">
	<div class="grid">
		<div class="row footer-wrapper">
			<div class="footer__intro col-lg-3">
				<div class="footer__intro-logo">
					<img src="./img/f8_text_logo.png" alt="F8 logo" class="footer__intro-logo-img"></img>
				</div>
				<p class="footer__text">F8 là nơi học lập trình miễn phí.</p>
				<p class="footer__text">Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
				<p class="footer__text">Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
				<p class="copyright footer__text">© 2019 MyCV JSC. All rights reserved.</p>
			</div>
			<div class="footer__F8 col-lg-2">
				<h6 class="footer__title">F8</h6>
				<a href="" class="footer__text footer__text-link">Giới thiệu</a>
				<a href="" class="footer__text footer__text-link">Tuyển dụng</a>
			</div>
			<div class="footer__product col-lg-2">
				<h6 class="footer__title">Sản phẩm</h6>
				<a target="_blank" href="https://mycv.vn/" class="footer__text footer__text-link">Viết CV xin việc</a>
				<a target="_blank" href="https://fullstack.edu.vn/" class="footer__text footer__text-link">Học lập trình online</a>
				<a target="_blank" href="https://www.youtube.com/c/F8VNOfficial" class="footer__text footer__text-link">Kênh Youtube F8</a>
				<a target="_blank" href="https://www.facebook.com/groups/f8official/" class="footer__text footer__text-link">Nhóm Facebook F8</a>
			</div>
			<div class="footer__partner col-lg-2">
				<h6 class="footer__title">Đối tác</h6>
				<a href="" class="footer__text footer__text-link">Tải phần mềm</a>
				<a href="" class="footer__text footer__text-link">Macbook</a>
			</div>
			<div class="footer__follow col-lg-3">
				<h6 class="footer__title">Theo dõi chúng tôi</h6>
				<p class="footer__text">Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
				<form action="" class="footer__form">
					<input class="footer__input" type="email" placeholder="Email của bạn...">
					<button class="footer__btn btn--primary">ĐĂNG KÝ</button>
				</form>
			</div>
		</div>
	</div>
</footer>