{{!-- Header --}}
<header class="header grid-full">
	<nav class="nav grid">
		<div class="row nav-wrapper">
			<div class="nav__logo">
				<a href="/">
					<img class="nav__logo-img" src="./img/f8_text_logo.png" alt="F8">
				</a>
			</div>
			<ul class="nav__menu">
				<li class="nav__menu-item"><a class="menu-item--link" href="/">Trang chủ</a></li>
				<li class="nav__menu-item"><a class="menu-item--link" href="/courses">Khóa học</a></li>
				<li class="nav__menu-item">
					<a class="menu-item--link" href="/">Cộng đồng</a>
					<ul class="community-submenu">
						<li class="submenu-item"><a href="https://www.youtube.com/c/F8VNOfficial" class="submenu-item--link">F8 Official Channel</a></li>
						<li class="submenu-item"><a href="https://www.facebook.com/groups/f8official/" class="submenu-item--link">F8 Facebook Group</a></li>
						<li class="submenu-item"><a href="https://mycv.vn/" class="submenu-item--link">F8 Tạo CV Xin Việc</a></li>
						<li class="submenu-item"><a href="https://www.youtube.com/c/S%C6%A1n%C4%90%E1%BA%B7ngF8" class="submenu-item--link">Channel Sơn Đặng</a></li>
					</ul>
				</li>
			</ul>
			<div class="nav__authen">
				<a href="/authen/login" class="nav__authen-item sign-in">{{this.user.name}}</a>
				<a href="/authen/signup" class="nav__authen-item sign-up">Đăng ký</a>
			</div>
		</div>
	</nav>
</header>


