<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>F8 - Học lập trình để đi làm!</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:wght@100;200;300;400;500;700;900&display=swap"
    rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/grid.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/details.css">
	<link rel="shortcut icon" href="/img/favicon-96x96.png" type="image/x-icon"/>
	<script defer src="/script/main.js"></script>
	<script defer src="/script/courses.js"></script>
</head>
<body>
	<div class="app">
		{{> header this }}
		{{{body}}}
		{{> footer }}
	</div>
	
</body>
</html>
